{namespace cm=RZ\Campaignmonitor\ViewHelpers}

<div class="form-group">
  <label for="{cm:fieldname(field: '{field.title}')}">{field.title}</label>
  <input id="{cm:fieldname(field: '{field.title}')}" class="form-control" name="{field.value}" type="email" {f:if(condition: field.required, then: 'required')} />
</div>