{namespace cm=RZ\Campaignmonitor\ViewHelpers}

<div class="form-group">
  <label for="{cm:fieldname(field: '{field.title}')}">{field.title}</label>
  <select id="{cm:fieldname(field: '{field.title}')}" name="{field.value}" class="form-control" {f:if(condition: field.multiple, then: 'multiple')} {f:if(condition: field.required, then: 'required')}>
    <option value=""><f:translate key="pleaseSelect" /></option>

    <f:for each="{cm:array(options: '{field.options}')}" as="option">
      <option value="{f:if(condition: option.value, then: option.value, else: '{cm:fieldname(field: "{option.title}")}')}">{option.title}</option>
    </f:for>
  </select>
</div>