<div class="form-group">
  <button type="submit" class="btn btn-primary">
    <f:if condition="{sendLabel}">
      <f:then>
        {sendLabel}
      </f:then>
      <f:else>
        <f:translate key="register" />
      </f:else>
    </f:if>
  </button>
</div>