<form action="{action}" method="post" role="form">
  <f:for each="{fields}" as="field">
    <f:render partial="Fieldtypes/{field.type}" arguments="{field: field}" />
  </f:for>

  <f:render partial="Fieldtypes/Submit" arguments="{sendLabel: sendLabel}" />
</form>